.instaHeading{
    margin-top: 5%;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bolder;
    font-size: 36px;
  }

@media screen and (max-width: 768px) {
    .mainWrapper{
      margin-top: 85%;
      margin-bottom: 10%;
    }
  
    .instaHeading{
      margin-top: 25%;
    }
  }